<div class="container-fluid">
    <div class="row no-gutter">
      <!-- <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div> -->
      <div class="col mt-5">
        <div class="login d-flex align-items-center py-5">
          <div class="container">
            <div class="row">
              <div class="col-md-5 mx-auto">
                <h3 class="login-heading mb-4">Login Page</h3>
                <form>
                  <div class="form-label-group">
                    <label for="inputEmail">Email address</label>
                    <input type="email" id="inputEmail" class="form-control" placeholder="Email address" name="email" required autofocus [(ngModel)]="email">
                  </div>
  
                  <div class="form-label-group">
                    <label for="inputPassword">Password</label>
                    <input type="password" id="inputPassword" class="form-control" placeholder="Password" name="password" required [(ngModel)]="password">
                  </div>
  
                  <button class="btn btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2" type="submit" (click)="login()">Sign in</button>

                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  